<%- include("../adminheader") %>

    <%- messages('messages', locals) %>
    <% if(errors){ %>
      <% errors.forEach(function(error){ %>
        <div class="alert alert-danger">
          <%= error.msg %>
        </div>
      <% }); %>
    <% } %>
    
    <h2 class="page-title">Users</h2>
    <br><br>

    <table class="table table-striped align-middle">
        <thead>
            <tr class="home">
                <th>_id</th>
                <th>Fullname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody style="font-size: 14px;">
            <% users.forEach(function(user){ %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= user.password %></td>
                    <td><a class="confirmDeletion btn btn-danger" href="/admin/users/delete-user/<%= user._id %>">Delete</a></td>              
                </tr>
            <% }); %>
        </tbody>
    </table>
<%- include("../adminfooter") %>